body {background-color: #fff !important;
}
a {
  text-decoration: none !important;
}
main {
  padding-left: 3.3rem;
  margin-top: 5rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
}

.MuiList-root .MuiListItem-root:hover {
  color: #444 !important;
  background-color: #e0f3ff !important;
}
.MuiDivider-root {
  background-color: transparent  !important;
}
.MuiListItem-root {
  padding-left: 23px !important;
}
.side-click {
  max-height: 2rem;
}
/* ------------------common redios------------------- */
.rounded-pill {
  border-radius: 50rem!important;
}
/* ------------end ------common redios------------------- */

/* ------------------common center------------------- */
.text-center{
  text-align: center;
}
.text-right {
  text-align: right;
}
.vertical-center {
  min-height: 100%;
  display: flex;
}
.justify-content-between {
  justify-content: space-between!important;
}
/* -------------end-----common center------------------- */
/* common color */
.bg-primary {
  background-color:orange ! important;
  color: #fff ! important;
}
.btn-primary {
  background-color:#03DAC5 ! important;
  color: #444 ! important;
}
/* -------------start commonn padding------------------- */
.st-p-1{
  padding: 1rem!important;
}
.st-pt-0{
  padding: 0!important;
}
.st-p-2{
  padding: 1.5rem!important;
}
.st-m-2{
  margin: .5rem!important;
}
/* -------------end commonn padding------------------- */

/* input form  */
.MuiInput-underline:before {
  border-bottom: 1px solid #CCCCCC !important;
}
.MuiFormControl-fullWidth {
  width: 94%  !important;
}
.MuiInput-underline:after {
  border-bottom: 2px solid orange  !important;
}
.btn-create-case {
  float: right;
  top: -3.5rem;
  left: .5rem;
}
.btn-create-case .MuiFab-label {
  font-size: 1.3rem;
}
/* editor */
.fr-element p {
  height: 27.4rem;
  overflow: auto;
}

/* ---------------------header css ----------------------------- */
   header .MuiToolbar-gutters {
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.12); */
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  }
  header .MuiIconButton-label .MuiSvgIcon-root {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.54);
  }
  header.MuiPaper-elevation4 {
    box-shadow: none !important;
    /* box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12); */
  }

/* --------------------end -header css ----------------------------- */

/* ---------------------view csse  css ----------------------------- */
  #page-view-case .MuiIconButton-label .MuiSvgIcon-root {
    font-size: 1.8rem;
}
#page-view-case .input-search {
  width: 23rem;
  height: 2.4rem;
}
.case-user-list {
  background-color: transparent!important;
}
.card-user-case {
  background: rgba(196, 196, 196, 0.25) !important;
  box-shadow: none !important;
  margin: .5rem;
  margin-bottom: .8rem;
}
.card-user-comment {
  background: #F1F1F1;
  border-radius: 10px;
}
.card-user-comment p {
  background-color: #F1F1F1 !important;
}
.side-bar-case-create {
  background: rgba(196, 196, 196, 0.25) ! important;
}
.input-accordation:before {
  background-color: transparent ! important;
}

.input-accordation {
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
#page-view-case .inner-navigation .MuiIconButton-label .MuiSvgIcon-root {
  color: #fff;
}
#page-view-case.MuiToolbar-gutters {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: none;
}
.input-auto-complete .MuiTextField-root {
  background-color: #fff;
}
#inner-navigation .MuiButton-containedPrimary {
  color: #fff  !important;
  background-color: transparent  !important;
  border: #fff 1px solid  !important;
}
.fr-toolbar {
  background: #f0f0f0  !important;
}

#page-view-case .file-input {
    border: 0 !important;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 2px solid #ddd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
    padding: 0px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
}
#page-view-case .file-input:hover {
  text-decoration: none;
  background-color: #d5d5d5;
}
.cm-file-input .MuiButton-root:hover {
  background-color: transparent !important;
}

.card-user-comment img {
  max-width: 100%;
  height: auto;
}
/* -----------------end----view csse  css ----------------------------- */
/* -------------------------overview page css ----------------------- */
#page-overview .MuiAvatar-circle {
  margin-top: .1em;
  display: inline-flex;
}
.card-task-overview {
  border: 1px solid #eee;
  padding: 1rem ! important;
  background: rgba(196, 196, 196, 0.25);
}
#page-overview .card {
  background-color: rgba(196, 196, 196, 0.25);
  box-shadow: none;
  height: 22rem;
}
#page-overview .nav-tab {
  background-color: #777575;
  color: #fff;
}
#page-overview .input-dropdown {
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: 0;
}
#page-overview .MuiTabs-indicator {
  background-color: #f0f0f0 ! important;
}
/* ----------------------end---overview----------------------- */