body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.case-inputs {
  padding: 9px;
}

.MuiDrawer-paper {
  z-index: 0 !important;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}

.create-case-button {
  /* float: right;
  margin-right: -13% !important;
  margin-top: -8% !important;
  margin-bottom: 2% !important; */
  margin-bottom: 1rem !important;
  background-color: rgb(242, 140, 26) !important;
}

.create-button {
  font-size: 20px;
  border: darkorange;
  z-index: 99999;
  position: fixed;
  float: left;
  left: 30% !important;
  top: 8% !important;
}

.create-button::before {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background: #4da6ff;
  content: "";
}

.create-button::after {
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border: 2px solid black;
  content: "";
}

/* .froala-editor {
  width: 800px;
} */

.case-select-form {
  float: left !important;
  /* width: 50% !important; */
  margin-left: 2% !important;
}

/* .case-create-form {
  float: left !important;
  width: 100% !important;
  margin-left: 12% !important;
}

.case-create-form-div {
  float: left !important;
  min-height: 4rem !important;
} */

@media only screen and (max-width: 1365px) {
  .case-create-form {
    float: left !important;
    width: 100% !important;
    margin-left: 12% !important;
  }

  .case-create-form-div {
    float: left !important;
    min-height: 4rem !important;
  }

  .froala-editor {
    width: 400px;
  }

  .case-select-form {
    float: left !important;
    width: 50% !important;
    margin-left: 14% !important;
  }

  .create-case-button {
    top: -3rem !important;
    float: right !important;
    left: -32rem !important;
  }

  .case-list-div{
    height: 700px;
    /* max-width: 15rem; */
    width: auto;
    overflow: auto;
  }

  .view-case-main {
    /* float: left !important; */
    margin-left: 1% !important;
  }
}

/* autocomplete option image css */
.s-option-auto-image {
  /* height: 40px !important;
  width: 40px !important;
  margin-right: 5px !important;
  text-align: center !important; */
  width: 50px !important;
  height: 50px !important;
  margin-right: 5px !important;
  display: flex !important;
  overflow: hidden !important;
  position: relative !important;
  font-size: 1.25rem !important;
  align-items: center !important;
  flex-shrink: 0 !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  line-height: 1 !important;
  user-select: none !important;
  border-radius: 50% !important;
  justify-content: center !important;
}

.assign-to-div {
  display: block;
  font-size: 20px;
  margin: 7px 10px 3px 3px;
}

.file-input {
  margin-right: 5px !important;
  font-size: 1.25rem !important;
  align-items: center !important;
  flex-shrink: 0 !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  line-height: 1 !important;
  user-select: none !important;
  border-radius: 50% !important;
  justify-content: center !important;
  border: 2px solid black;
  border-radius: 20% !important;
  padding: 6px;
  text-align: center;
}

.cm-file-input label {
  margin-right: -1rem;
}
.cm-file-input .MuiButton-root:hover {
  text-decoration: none;
  background-color: transparent;
}

.fr-box.fr-basic .fr-wrapper {
  height: 19rem;
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.case-list-div{
  height: 700px;
  max-width: 15rem;
  width: auto;
  overflow: auto;
}

.app-bar-div{
  max-width: 15rem;
  width: auto;
}

.field-div {
  width: max-content;
}

.view-case-main {
  /* float: right;
  margin-left: 12rem;
  width: max-content; */
  /* margin-left: 10% !important; */
}

.case-fields{
  display: block !important;
}