

/* width */

.app-bar-div{
  max-width: 15rem;
  width: auto;
}

.field-div {
  width: max-content;
}

.case-fields{
  display: block !important;
}


/* autocomplete option image css */
.s-option-auto-image {
  width: 50px !important;
  height: 50px !important;
  margin-right: 5px !important;
   display: inline-block !important;
  overflow: hidden !important;
  position: relative !important;
  font-size: 1.25rem !important;
  align-items: center !important;
  flex-shrink: 0 !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  line-height: 1 !important;
  user-select: none !important;
  border-radius: 50% !important;
  justify-content: center !important;
}

.case-fields{
  display: block !important;
}
main.makeStyles-content-12 {
  width: 100% !important;
}
