<configuration>  
  <system.webServer>
    <handlers>
            <remove name="StaticFile" />
	<add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Data\Websites\Cases\AppSearch\venv\Scripts\python.exe|D:\Data\Websites\Cases\AppSearch\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <directoryBrowse enabled="true" />
       
  </system.webServer>
  <appSettings>
    <!-- may change wsgi_handler to 'app' -->
    <add key="WSGI_HANDLER" value="router.app" />
    <add key="PYTHONPATH" value="D:\Data\Websites\Cases\AppSearch" />
	<add key="WSGI_LOG" value="D:\Data\Websites\Cases\AppSearch\app.log" />
  </appSettings>
</configuration>  