.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid #ffba3b;
  border-right-color: transparent;
  transform-origin: center;
  animation: rotate 1s linear infinite;
}

.circular-progress {
  position: absolute;
  left: 49%;
  display: flex;
}

.sc-ifAKCX.hVBVds {
  max-width: -webkit-fill-available;
  padding: 8px 0;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
